@media (min-width: 768px) {
}

@media (max-width: 1520px) {
  .order-page__form {
    grid-template-columns: 67% 30%;
    gap: 30px;
  }

  .order-page {
    padding: 0 15px;
  }

  .basket-list {
    .thead {
      .th:nth-child(1) {
        width: 65%;
      }

      .th:nth-child(2) {
        width: 23%;
      }
    }
  }
}

@media (max-width: 1300px) {
  .order-result {
    margin-top: 30px;
  }

  .result-bottom .price {
    font-size: 28px;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    right: 10px;
  }

  .basket-list {
    .thead {
      .th:nth-child(1) {
        width: 65%;
      }

      .th:nth-child(2) {
        width: 22%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .order-page__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .order--left {
    width: 100%;
    max-width: 100%;
  }

  .order--right {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;

    .title {
      width: 100%;
    }

    .list-product {
      width: calc(50% - 15px);
    }

    .order-result {
      width: calc(50% - 15px);
      margin: 0;
      margin-top: 30px;
    }
  }

  .basket-list .thead .th:nth-child(1) {
    width: calc(50% - 2px);
  }

  .order-page__text {
    order: -1;
    margin-top: 0;
  }

  .basket-list {
    .thead {
      .th:nth-child(1) {
        width: 65%;
      }

      .th:nth-child(2) {
        width: 25%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .order-page__head {
    padding: 25px 0;

    .caption {
      font-size: 30px;
      line-height: 32px;
    }
  }

  .order-page .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .order-page__block {
    width: 100%;

    & + .order-page__block {
      padding-top: 0;
    }
  }

  .order--right {
    gap: 0;

    .list-product {
      width: 100%;
    }

    .order-result {
      width: 100%;
      margin-top: 20px;
    }
  }

  .basket-list .thead .th:nth-child(1) {
    width: calc(50% - 62px);
  }

  .basket-list__info {
    width: calc(100% - 150px);
    max-width: initial;
  }

  .basket-list .thead {
    display: none;
  }

  .basket-list .tr {
    position: relative;
    flex-direction: column;
  }

  .basket-list .picture {
    position: absolute;
    right: 15px;
    top: 60px;
    width: 86px;
    height: 70px;
    z-index: 4;

    img {
      object-fit: contain;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
  }

  .mobile-th {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    color: #333;
    font-weight: 400;
  }

  .basket-list__price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;

    .count {
      color: #333;
    }

    span {
      color: #b6b5b5;
    }
  }

  .count-block {
    .count {
      width: 70px;
    }
  }

  .count-block-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mobile-th--first {
    padding: 13px 20px;
    background-color: #f8f8f8;
    width: 100%;
    width: calc(100% + 30px);
    left: -15px;
    position: relative;
  }

  .basket-list .tr {
    padding: 0 15px 15px;
    width: calc(100% + 30px);
    left: -15px;
    position: relative;
    background-color: #f8f8f8;
  }

  .btn-delete {
    right: 20px;
    top: 14px;
    position: absolute;
  }

  .basket-list__info {
    position: relative;
    z-index: 3;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -15px;
      width: 200%;
      background-color: #fff;
      height: calc(100% + 35px);
      z-index: -1;
    }
  }

  .basket-list__more {
    color: #d83838;
    border: solid 1px #d83838;
    box-shadow: none;
    margin-top: 0;
    width: 50%;
    flex: 1;
  }

  .basket-list .tbody {
    box-shadow: none;
  }

  .clear-basket {
    display: none;
  }

  .clear-basket--mobile {
    font-size: 13px;
    background-color: #f8f8f8;
    border-radius: 5px;
    position: relative;
    top: auto;
    right: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 40px;
    flex: 1;
  }

  .basket-list__controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
  }

  .fixed-top-order .form-manager {
    flex-wrap: wrap;
    flex-direction: column;

    .caption {
      order: 1;
    }

    .sale {
      order: 2;
    }

    .text {
      width: 100%;
      order: 4;
      max-width: 100%;
      text-align: center;
    }

    .timer {
      width: 100%;
      order: 5;
    }

    .btn {
      order: 3;
    }
  }

  .fixed-top-order .form-manager .caption {
    font-size: 14px;
  }

  .fixed-top-order__head {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .fixed-top-order .form-manager {
    gap: 10px;
    padding: 13px;
  }

  .fixed-top-order .form-manager::before {
    background-image: url("../img/back-popup-fix1_mobile.png");
    width: 50px;
    height: 95px;
  }

  .fixed-top-order .form-manager::after {
    background-image: url("../img/back-popup-fix2_mobile.png");
    width: 50px;
    height: 95px;
  }
}

@media (max-width: 767px) {
  .order-page__head {
    .caption {
      font-size: 28px;
      line-height: 30px;
      text-align: center;
      display: block;
    }
  }

  .order-page .title {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    display: block;
  }

  .order-select .label {
    font-size: 16px;
    line-height: 22px;
    padding-left: 25px;
  }

  .order-select .num {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .order-page__block {
    padding: 20px;
  }

  .order-radio label {
    font-size: 16px;
  }

  .order-page {
    padding: 0;
    overflow: hidden;
  }

  .order-select .num {
    left: -20px;
    top: -5px;
  }

  .price-delivery {
    font-size: 14px;

    .price {
      font-size: 18px;
    }
  }

  .order-select__controls {
    font-size: 14px;
  }

  .order-input textarea {
    height: 70px;
  }

  .order-page__text {
    padding: 15px;
    height: auto;
    max-width: 95%;
    margin: 0 auto;
  }

  .order-page__form {
    gap: 20px;
  }

  .order--right .order-result {
    padding: 30px 20px;
    border-radius: 0;
  }

  .basket-list__controls {
    padding: 0 15px;
  }

  .mobile-th--first {
    padding: 15px;
  }

  .basket-list .tr {
    padding: 0 25px 15px;
  }

  .basket-list__info .link {
    min-height: 60px;
    display: flex;
    align-items: center;
    width: calc(100% - 150px);
  }

  .basket-list__info {
    width: 100%;
  }

  .order-select__controls .btn-red {
    font-size: 13px;
    padding: 12px 30px;
  }

  .form-manager .caption {
    font-size: 28px;
    line-height: 32px;
  }

  .basket-list .tr {
  }

  .basket-list .tr + .tr {
    margin-top: 30px;
  }

  .mobile-th--first {
  }

  .fixed-top-order .form-manager .timer {
    font-size: 18px;
    width: auto;
  }

  .fixed-top-order .form-manager {
    gap: 8px;
    padding: 5px;
    flex-direction: row;
    justify-content: center;

    .sale {
      font-size: 15px;
      line-height: 22px;
      width: 50px;
      height: 20px;
      min-height: 26px;
    }
  }

  .fixed-top-order .form-manager .text {
    width: auto;
    width: 210px;
  }

  .fixed-top-order__head {
    gap: 0;
    width: 100%;
  }

  .fixed-top-order .form-manager .caption {
    width: 75%;
  }

  .fixed-top-order .form-manager .btn {
    width: 100%;
    max-width: 80%;
  }
}

@media (max-width: 639px) {
}

@media (max-width: 479px) {
}

@media (max-width: 374px) {
}
